<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587646196458-2di9mfu70f83anmiqc3pd1d86mfu30bg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587646196458-2di9mfu70f83anmiqc3pd1d86mfu30bg</string>
	<key>API_KEY</key>
	<string>AIzaSyBleTn-KefWWkxX4oJI9-LU1L4_6iCMReo</string>
	<key>GCM_SENDER_ID</key>
	<string>587646196458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifgabsp.projectGet.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-19312078</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-19312078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587646196458:ios:95a37457678888d6fe9593</string>
</dict>
</plist>